.planeDiv {
  position: absolute;
  display: flex;
  width: 100dvw;
  top: var(--plane-top, 34rem);
  justify-content: center;
  z-index: 5;
  margin-top: -0.5rem;
  transform: rotate(45deg);
}

.plane {
  height: 70px;
  padding-right: 1rem;
  filter: drop-shadow(1px 4px 4px var(--color-black));
}

.entryTrail {
  animation: entry-trail 4s linear forwards 1.5s;
}

@keyframes entry-trail {
  0% {
    top: 34rem;
    transform: rotate(45deg);
  }

  15% {
    top: 31rem;
    transform: rotate(33deg);
  }

  30% {
    top: 28rem;
    transform: rotate(22deg);
  }

  45% {
    top: 22rem;
    transform: rotate(10deg);
  }

  60% {
    top: 16rem;
    transform: rotate(22deg);
  }

  75% {
    top: 10rem;
    transform: rotate(45deg);
  }

  100% {
    top: 10rem;
    transform: translateX(60vw) rotate(45deg);
  }
}

@media screen and (min-width: 768px) {
  .planeDiv {
    top: var(--plane-top, 38rem);
  }

  .plane {
    height: 80px;
  }

  @keyframes entry-trail {
    0% {
      top: 38rem;
      transform: rotate(45deg);
    }
  
    15% {
      top: 34.635rem;
      transform: rotate(33deg);
    }
  
    30% {
      top: 31.25rem;
      transform: rotate(22deg);
    }
  
    45% {
      top: 24.5rem;
      transform: rotate(10deg);
    }
  
    60% {
      top: 17.75rem;
      transform: rotate(22deg);
    }
  
    75% {
      top: 11rem;
      transform: rotate(45deg);
    }
  
    100% {
      top: 11rem;
      transform: translateX(60vw) rotate(45deg);
    }
  }
}