.planeDiv {
  position: absolute;
  display: flex;
  width: 100dvw;
  top: var(--plane-top, 62vh);
  justify-content: center;
  z-index: 3;
}

.plane {
  height: 80px;
  transform: rotate(45deg);
  padding-right: 1rem;
  filter: drop-shadow(1px 4px 4px var(--color-black));
}

.entryTrail {
  animation: entry-trail 6s linear forwards 1s;
}

@keyframes entry-trail {
  0% {
    transform: translateY(0) rotate(45deg);
  }

  12% {
    transform: translateY(-5rem) rotate(22deg);
  }

  25% {
    transform: translateY(-10rem) rotate(10deg);
  }

  37% {
    transform: translateY(-15rem) rotate(22deg);
  }

  50% {
    transform: translateY(-20rem) rotate(45deg);
  }

  100% {
    transform: translateX(60vw) translateY(-20rem) rotate(45deg);
  }
}