.socials {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.socials img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid var(--color-electric-aqua);
}

.socials a:nth-child(2) img {
  border: 2px solid var(--color-sunset-orange);

}