.socials {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.socials img {
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--color-white);
  border-radius: 50%;
  box-shadow: -1px 2px 6px var(--color-black);
}