.about {
  text-align: center;
  background: radial-gradient(ellipse at 50% 120%, var(--color-sunset-orange) 0%, var(--color-black) 50%);
  height: 100vh;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem 2rem;
}