.about {
  text-align: center;
  height: 100%;
  padding-bottom: 2rem;
}

.about::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse 120% 120% at 50% 120%, var(--color-sunset-orange) 0%, var(--color-black) 50%);
  z-index: -1;
}

.content {
  padding: 0 2rem;
}

.image * {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 5px solid var(--color-electric-aqua);
  box-shadow: -1px 1px 10px var(--color-black);
}

.span {
  color: var(--color-electric-aqua);
  font-weight: 700;
}

.link {
  color: var(--color-white);
  text-decoration: underline;
  font-weight: 700;
}
