.page {
  min-height: 100dvh;
}

.page::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse 120% 120% at 50% 120%, var(--color-electric-aqua) 0%, var(--color-black) 50%);
  z-index: -1;
}