.cardContainer {
  height: 60dvh;
  width: 70dvw;
  max-width: 25rem;
  border-radius: 10px;
  position: relative;
  perspective: 1000px;
  overflow: visible;
}

.noCursor {
  cursor: default;
}

@media screen and (min-width: 768px) {
  .cardContainer {
    height: 60dvh;
  }
}
