.cardContainer {
  height: 50vh;
  width: 50vw;
  max-width: 25rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .cardContainer {
    height: 65vh;
  }

  /* .frontCentre:hover {
    transform: rotateY(-180deg);
  }

  .backCentre:hover {
    transform: rotateY(0deg);
  } */
}
