.cardContainer {
  height: 40rem;
  width: 25rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  /* .frontCentre:hover {
    transform: rotateY(-180deg);
  }

  .backCentre:hover {
    transform: rotateY(0deg);
  } */
}
