.tacoImages {
  display: flex;
  justify-content: center;
}

.tacoImages img {
  width: 5rem;
  height: auto;
  animation: rotate 2s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(0);
  }

  75% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(0);
  }
}
