.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 4rem;
  background-color: var(--color-light-primary);
  border-bottom: 3px dashed var(--color-white);
  color: var(--color-black);

  --plane-top: -1vh;
}
