.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  margin-bottom: 2rem;
  background-color: var(--color-primary);

  --plane-top: -1vh;
}

.planeTrail {
  width: 100%;
  margin: 2rem 0;
  border-bottom: 2px dashed var(--color-white);
}