.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 2rem;
  margin-bottom: 4rem;
  border-bottom: 3px dashed var(--color-white);
  color: var(--color-black);
  gap: 0.75rem;

  --plane-top: -1dvh;
}

.logo * {
  height: 3.5rem;
  z-index: 5;
}

.noCursor {
  cursor: default;
}

@media screen and (min-width: 1024px) {
  .header {
    gap: 1rem;
  }
}
