.complete {
  color: var(--color-corn-yellow);
}

.lime {
  display: flex;
  justify-content: center;
}

.lime img {
  position: absolute;
  width: 4.5rem;
  height: auto;
  margin-top: -5rem;
  margin-left: -50%;
  transform: scale(0) rotate(85deg);
  animation: enter 1s linear forwards 0.5s;
}

.hungry {
  color: var(--color-avocado-green);
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  .lime img {
    margin-left: -14%;
  } 
}

@keyframes enter {
  0% {
    transform: scale(0) rotate(85deg);
  }

  100% {
    transform: scale(1) rotate(85deg);
  }
}
