.backCard {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 10px;
  overflow: hidden;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-black);
  cursor: pointer;
  color: var(--color-white);
  text-align: center;
}

.titles {
  padding: 0 1rem;
}

.backTitle {
  text-transform: capitalize;
  margin: 1.5rem 0 0;
  font-size: 1.25rem;
}

.projectTitle {
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

.backImage {
  aspect-ratio: 1 / 1;
  height: 30%;
  max-width: 80%;
  position: relative;
  border-radius: 10px;
  border: 3px solid var(--color-sunset-orange);
  box-shadow: -1px 1px 10px var(--color-black);
}

.backImage img {
  border-radius: 7px;
}

.summary {
  padding: 0 1rem;
  font-size: 1rem;
  text-align: center;
}

.readMore {
  font-size: 1rem;
  text-decoration: underline;
  margin: 0 0 1.5rem;
  color: var(--color-sunset-orange);
}

.isFlipped {
  transform: rotateY(0deg);
}

@media screen and (min-width: 768px) {
  .backTitle {
    font-size: 1.5rem;
    margin: 3rem 0 0;
  }

  .projectTitle {
    font-size: 2rem;
    margin: 0 0 2rem;
  }

  .backImage {
    height: 50%;
    border: 5px solid var(--color-sunset-orange);
  }

  .summary {
    padding: 0 2rem;
  }

  .readMore {
    margin: 0 0 2rem;
  }
}
