.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content {
  position: relative;
}

.sections {
  display: flex;
  position: relative;
  animation: move-page 4s forwards 2s;
}

.entry {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.home {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(100vw);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -4rem 0 5rem;
}

@keyframes move-page {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200vw);
  }
}
