.main {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

.content {
  position: relative;
  width: 100dvw;
  flex-shrink: 0;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starryNight {
  position: absolute;
  height: 100dvh;
  width: 200dvw;
  background-color: var(--color-black);
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 20px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 30px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 450px 450px, 250px 250px, 350px 350px; 
  background-position: 0 0, 20px 80px, 10px 250px, 100px 10px;
  opacity: 0;
  z-index: -1;
  animation: fade-stars 5s ease-in forwards 2s;
}

.sections {
  display: flex;
  position: relative;
  align-items: center;
  animation: move-page 3s ease-in forwards 2s;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.globe {
  height: 100%;
  animation: scale-globe 5s ease-in forwards 2.5s;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -7.5rem 0 5rem;
  z-index: 3;
  gap: 1.7rem;
  animation: move-off-page 3s forwards 2s;
}

.logo *:first-child {
  height: 3rem;
  margin-left: -0.3rem;
}

@keyframes move-off-page {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}

@keyframes fade-stars {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translateX(-100vw);
  }
}

@keyframes scale-globe {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(7);
  }
}

@media screen and (min-width: 1024px) {
  .starryNight {
    background-size: 1000px 1000px, 550px 550px, 350px 350px, 450px 450px; 
    background-position: 0 0, 120px 180px, 90px 140px, 300px 90px;
  }

  @keyframes fade-stars {
    0% {
      opacity: 0;
      transform: translateX(0);
    }
  
    70% {
      opacity: 1;
    }

    100% {
      transform: translateX(-100vw);
    }
  }

  @keyframes scale-globe {
    100% {
      transform: scale(21);
    }
  }
}