:root {
  /* Colour Palette */
  --color-black: #020202;
  --color-white: #fff;
  --color-light-aqua: #00d9c6;
  --color-dark-aqua: #216869;
  --color-dark-coral: #F08080;
  --color-light-coral: #eebdbd;

  /* Colours */
  --color-light-primary: var(--color-light-aqua);
  --color-light-secondary: var(--color-light-coral);
  --color-dark-primary: var(--color-dark-aqua);
  --color-dark-secondary: var(--color-dark-coral);
}

body {
  color: var(--color-white);
  background: var(--color-black);
  height: 100%;
  margin: 0;
}

a {
  color: var(--color-black);
  text-decoration: none;
}
