:root {
  /* Colour Palette */
  --color-black: #020202;
  --color-white: #fff;
  --color-electric-aqua: #05DEFF;
  --color-sunset-orange: #FD9042;
}

body {
  color: var(--color-white);
  background: var(--color-black);
  height: 100%;
  margin: 0;
}

a {
  color: var(--color-black);
  text-decoration: none;
}
