.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.entry, .finish {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entry button {
  width: 10rem;
  cursor: pointer;
}

.taco {
  height: 20rem;
  width: 20rem;
  border: 2px solid red;
}

.confirm button {
  height: 3rem;
  width: 10rem;
  cursor: pointer;
}

.finish {
  position: absolute;
  background-color: white;
}