.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 55dvw;
  height: 80dvh;
  max-height: 80dvh;
  padding: 2rem;
  border: solid 6px var(--color-tomato-red);
  border-radius: 20px;
  outline: dotted 6px var(--color-avocado-green);
  outline-offset: 2px;
  background-color: var(--color-corn-yellow);
  text-align: center;
  overflow: scroll;
  justify-content: center;
}

.taco img {
    max-width: 100%;
    height: auto;
    max-height: 15rem;
    object-fit: contain;
}