.carousel {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.card {
  position: absolute;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  cursor: pointer;
}

.centerCard {
  transform: translateX(0);
  z-index: 3;
  opacity: 1;
}

.leftCard {
  transform: translateX(-100px) scale(0.8) rotate(-10deg) translateY(20px);
  z-index: 2;
}

.rightCard {
  transform: translateX(100px) scale(0.8) rotate(10deg) translateY(20px);
  z-index: 2;
}

.farLeftCard, .farRightCard {
  display: none;
}

.hiddenCard {
  display: none;
}

@media screen and (min-width: 1024px) {
  .leftCard {
    transform: translateX(-250px) scale(0.8) rotate(-10deg) translateY(20px);
  }
  
  .rightCard {
    transform: translateX(250px) scale(0.8) rotate(10deg) translateY(20px);
  }

  .farLeftCard {
    display: block;
    transform: translateX(-425px) scale(0.6) rotate(-15deg) translateY(40px);
    z-index: 1;
  }
  
  .farRightCard {
    display: block;
    transform: translateX(425px) scale(0.6) rotate(15deg) translateY(40px);
    z-index: 1;
  }
}
