.carousel {
  display: flex;
  justify-content: center;
}

.card {
  position: absolute;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  cursor: pointer;
  filter: drop-shadow(-2px 2px 20px var(--color-black));
}

.centerCard {
  transform: translateX(0);
  z-index: 3;
  opacity: 1;
}

.leftCard {
  transform: translateX(-90px) scale(0.8) rotate(-10deg) translateY(20px);
  z-index: 2;
}

.rightCard {
  transform: translateX(90px) scale(0.8) rotate(10deg) translateY(20px);
  z-index: 2;
}

.farLeftCard, .farRightCard {
  display: none;
}

.hiddenCard {
  display: none;
}

@media screen and (min-width: 768px) {
  .leftCard {
    transform: translateX(-200px) scale(0.8) rotate(-10deg) translateY(20px);
  }
  
  .rightCard {
    transform: translateX(200px) scale(0.8) rotate(10deg) translateY(20px);
  }
}

@media screen and (min-width: 1024px) {
  .carousel {
    margin-top: 0;
  }

  .leftCard {
    transform: translateX(-250px) scale(0.8) rotate(-10deg) translateY(20px);
  }
  
  .rightCard {
    transform: translateX(250px) scale(0.8) rotate(10deg) translateY(20px);
  }

  .farLeftCard {
    display: block;
    transform: translateX(-425px) scale(0.6) rotate(-15deg) translateY(40px);
    z-index: 1;
  }
  
  .farRightCard {
    display: block;
    transform: translateX(425px) scale(0.6) rotate(15deg) translateY(40px);
    z-index: 1;
  }
}
