.main {
  position: absolute;
}

.questionMark {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  background-color: var(--color-avocado-green);
  color: var(--color-corn-yellow);
  border: none;
  margin: -0.5rem;
}

.infoBox {
  position: absolute;
  bottom: -30%;
  right: -2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 10rem;
  border: dotted 2px var(--color-avocado-green);
  border-radius: 10px;
  padding: 0.5rem;
  background-color: var(--color-lettuce-green);
}

.close {
  align-self: flex-end;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--color-avocado-green);
}

.infoText {
  margin: 0;
}