.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepNumber {
  color: var(--color-tomato-red);
}

.layerName {
  text-transform: capitalize;
  margin: 0.5rem 0 1rem;
  color: var(--color-corn-yellow);
  font-size: 1rem;
}

.choose {
  font-size: 0.7rem;
  margin: 0;
}
