.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stepNumber {
  color: var(--color-tomato-red);
}

.layerName {
  margin: 0.5rem 0 1rem;
  color: var(--color-corn-yellow);
  font-size: 1rem;
  text-transform: capitalize;
}

.choose {
  margin: 0;
  font-size: 0.7rem;
}
