.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.link {
  position: absolute;
  right: -1.5rem;
  display: flex;
}

.link:nth-child(2) {
  top: 5rem;
}

.link img:first-child {
  margin-right: -0.3rem;
  transform: rotate(5deg);
}

.link img:nth-child(2) {
  border-radius: 50% 0 0 50%;
  height: 5rem;
  width: 5rem;
  box-shadow: -4px 4px 5px var(--color-electric-aqua);
}

.link:hover {
  transform: translateX(-1.5rem);
  transition: 0.5s ease;
}