.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.choices {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  flex-wrap: wrap;
  height: 13.5rem;
  align-content: center;
}

.stacked {
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .choices {
    height: 4rem;
  }

  .stacked {
    flex-direction: row;
  }  
}