.countryTicker {
  overflow: hidden;
  max-height: 3rem;
  width: 100dvw;
  font-size: 1.5rem;
}

.countryList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  animation: scroll-countries 3s ease-in-out forwards;
  text-transform: capitalize;
  color: var(--color-white);
}

.countryList p:last-child {
  animation: pop 1s ease-in-out forwards 3s;
  text-shadow: 1px 1px 0 var(--color-electric-aqua);
  font-weight: 600;
}

@keyframes scroll-countries {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-100% + 2rem));
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}