.nav {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  border: 2px solid white;
  width: 100%
}

.nav a {
  text-decoration: none;
}

.active {
  color: yellow;
}

.inactive {
  color: green;
}