.choice {
  display: flex;
  justify-content: flex-end;
}

.choiceButton {
  width: 7.5rem;
  height: 4rem;
  border: 2px solid var(--color-lettuce-green);
  border-radius: 10px;
  background-color: var(--color-black);
  overflow: hidden;
  cursor: pointer;
  font-family: unset;
}

.chosen {
  background-color: var(--color-lettuce-green);
}

.spanishText {
  color: var(--color-tomato-red);
  font-size: 0.7rem;
}

.englishText {
  color: var(--color-avocado-green);
  font-size: 0.5rem;
}
